PORT=3002
DATABASE_URL="postgresql://postgres@localhost:5433/gestorpass?schema=api_credentials"
JWT_SECRET=change-me-now
CREDENTIALS_MASTER_KEY=replace-with-a-long-random-secret
ADMIN_EMAIL=example@gmail.com
ADMIN_PASSWORD=4151215
